{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="card" style="width: 18rem;">
  <img src="{{ object.image.url }}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title"> Наименование:<br /> <strong>{{ object.name }}</strong></h5>
    <p class="card-text">Категория:<br /> <strong>{{ object.category }}</strong></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Описание:<br /> {{ object.description }}</li>
    <li class="list-group-item">Цена: {{ object.price }} руб</li>
    <li class="list-group-item">Остаток: {{ object.quantity }} шт</li>
  </ul>
</div>

{% endblock %}